.coinsChart{
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 673px;
  width: 100%;
  background: rgba(28, 28, 28, 0.6);
  backdrop-filter: blur(10px);
  min-height: 513px;
  padding: 40px;
  border-radius: 16px;
}